[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
blinker = "*"
click = "*"
dominate = "*"
flask = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-script = "*"
flask-wtf = "*"
itsdangerous = "*"
"jinja2" = "*"
python-dateutil = "*"
python-editor = "*"
wtforms = "*"
Flask-SQLAlchemy = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-admin = "*"
faker = "*"
unidecode = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
flask-sslify = "*"
flask-bootstrap = "*"
requests = "*"
flask-whooshee = "*"
flask-sitemap = "*"
markdown = "*"
bleach = "*"
flask-pagedown = "*"
pymysql = "*"
flask-qiniustorage = "*"
flask-dropzone = "*"
celery = "*"
flask-caching = "*"
redis = "*"
flask-redis = "*"

[dev-packages]
selenium = "*"
coverage = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
