{% macro post_card(post) %}
    <div class="post-card card">
        <a href="{{ url_for('blog.show_post', post_id=post.id) }}">
            <img class="card-img-top portrait" src="{{ url_for('blog.show_post', filename=post.filename_s) }}">
        </a>
        <div class="card-body">
            <span class="oi oi-star"></span> {{ post.collectors|length }}
        </div>
    </div>
{% endmacro %}

{% macro pager(pagination, fragment='') %}
<nav aria-label="Page nacigtion">
    <hr />
    <ul class="pagination  justify-content-center">
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(request.endpoint, page=pagination.prev_num, **kwargs) + fragment if pagination.has_prev else '#'}}#topic">
            <span class="page-link">Previous</span>
            </a>
        </li>
        <li class="page-item {% if page == 1 %}active{% endif %}">
        {% if page == 1 %}
            <span class="page-link">
                1
                <span class="sr-only">(current)</span>
            </span>
        {% else %}
            <a class="page-link" href="?page=1#topic">1</a>
        {% endif %}
        </li>
        <li class="page-item {% if page == 2 %}active{% endif %}">
        {% if page == 2  %}
            <span class="page-link">
                2
                <span class="sr-only">(current)</span>
            </span>
        {% else %}
            <a class="page-link" href="?page=2#topic">2</a>
        {% endif %}
        </li>
        <li class="page-item {% if page == 3 %}active{% endif %}">
        {% if page == 3 %}
            <span class="page-link">
                3
                <span class="sr-only">(current)</span>
            </span>
        {% else %}
            <a class="page-link" href="?page=3#topic">3</a>
        {% endif %}
        </li>
        <li class="page-item {% if not pagination.has_next %}diabled{% endif %}">
            <a class="page-link" href="{{ url_for(request.endpoint, page=pagination.next_num, **kwargs) + fragment if pagination.has_next else '#'}}#topic">
            <span class="page-link">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}