{% if categories %}
    <div class="card mb-3 card-nav-tabs">
        <div class="card-header card-header-primary">Categories</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
            <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                <a href="{{ url_for('blog.show_category', category_id=category.id) }}">
                    {{ category.name }}
                </a>
                <span class="badge badge-primary badge-pill"> {{ category.posts|length }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
{% endif %}

{% if links %}
    <div class="card mb-3">
        <div class="card-header">Links</div>
        <ul class="list-group list-group-flush">
            {% for link in links %}
                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



<ul class="nav nav-pills">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Change Theme</a>
    <div class="dropdown-menu">
        {% for theme_name, display_name in config.CRYPTICLOG_THEMES.items() %}
        <a class="dropdown-item"
            href="{{ url_for('blog.change_theme', theme_name=theme_name, next=request.full_path) }}">
             {{ display_name }}</a>
        {% endfor %}
    </div>
  </li>
</ul>