{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import post_card, comment_card with context %}

{% block title %}Search: {{ q }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Search: {{ q }}</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical">
                <a class="nav-item nav-link {% if category == 'post' %}active{% endif %}"
                   href="{{ url_for('.search', q=q, category='post') }}">Post</a>
            </div>
        </div>
        <div class="col-md-9">
            {% if results %}
                <h5>{{ results|length }} results</h5>
                {% for item in results %}
                    {{ photo_card(item) }}
                {% endfor %}
            {% else %}
                <h5 class="tip">No results.</h5>
            {% endif %}
        </div>
    </div>
    {% if results %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='right') }}
        </div>
    {% endif %}
{% endblock %}