{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    {% block head %}
        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('Blog Title') }}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta http-equiv="expires" content="Wed 2 January 2019 05:20 GMT" />
        <meta name="description" content="我热爱编程，这是我的个人博客"/>
        <meta name="keywords" content="博客,维基小百科,方方哥,科技,计算机,编程,blog,python,fancy "/>
        <meta name="fansly" content="air.bylive@gmail.com"/>
        <meta name="robots" content="index,follow"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <meta name="copyright" content="Fancy">
        <meta name="revisit-after" content="2 days" >
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-title" content="方方哥的Blog">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="format-detection" content="telphone=no, email=no"/>
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-57x57-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ url_for('static', filename='img/retinahd_icon.png') }}">
        <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/launch6plus.png') }}" media="(device-width: 414px)">
        <meta name="theme-color" content="#9c27b0">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="320">
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta name="browsermode" content="application">
        <meta name="x5-page-mode" content="app">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="msapplication-TileColor" content="#9c27b0"/>
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon.png') }}"/>      
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="{{ url_for('static', filename='css/material-kit.css') }}"  rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="{{ url_for('static', filename='demo/demo.css') }}"  rel="stylesheet" />
        <!-- Material Kit CSS -->
        <link href="{{ url_for('static', filename='css/material-kit.css') }}" rel="stylesheet" />  
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" /> 
    {% endblock head %} 
</head>

{% block body %}
<body>
{% endblock body %}
{% block nav %}
    <nav class="navbar navbar-transparent bg-primary navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href={{url_for('blog.index') }}>
                {{ admin.blog_title|default('Blog Title') }} </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout', next=request.full_path) }}"  class="nav-link">
                        <i class="material-icons">content_paste</i> Logout
                    </a>
                    {% else %}
                    {% block me %}
                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">assignment</i> Login 
                        </a>
                    </li> 
                    {% endblock me %}
                    {% endif %}
                    </li>
                    <form class="form-inline ml-auto">
                        <div class="form-group no-border">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-white btn-just-icon btn-round">
                            <i class="material-icons">search</i>
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}
{% block page %}
    {% block initial %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='img/profile_city.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title">{{ admin.blog_title|default('Blog Title') }}</h1>
                    <h4 class="text-muted">&nbsp;{{ admin.blog_sub_title|default('Blog Subtitle') }}</h4>
                    <br>
                    <br>
                    <a href="/about" target="_blank" class="btn btn-primary btn-raised btn-lg">
                        <i class="fas fa-book-reader"></i> About Me
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock initial %}
    <div class="main main-raised">
        <div class="container" id="topic">
            <div class="section text-center">
                {% block content %}{% endblock content %}
                {% for message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ message[0] }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message[1] }}
                    </div>
                {% endfor %}
                <ul class="nav navbar-nav navbar-right"> 
                </ul>
            </div>
        </div>
    </div>
{% endblock page %}
<main class="container">   
    {% block footer %}
        <footer class="footer footer-default">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="top" data-toggle="tooltip" href="https://twitter.com/_fancyan" target="_blank" title="Follow me on Twitter">
                                <i class="fa fa-2x fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="top" data-toggle="tooltip" href="https://github.com/hallucigenia" target="_blank" title="Like me on Github">
                                <i class="fa fa-2x fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="top" data-toggle="tooltip" href="https://www.instagram.com/monophoton/" target="_blank" title="Follow me on Instagram">
                                <i class="fa fa-2x fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="top" data-toggle="tooltip" href="https://github.com/hallucigenia/cryptic" target="_blank" title="Star this project in Github">
                                <i class="fa fa-2x fa-code-branch"></i>
                            </a>
                        </li>
                        <small>
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth.logout', next=request.full_path) }}">Logout</a>
                            {% else %}
                                <a href="{{ url_for('auth.login', next=request.full_path) }}">Login</a>
                            {% endif %}
                        </small>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, made with <i class="material-icons">favorite</i> by
                    <a href="{{ url_for('blog.about') }}" target="_blank">Fancy</a>.
                </div>
            </div>
        </footer>
    {% endblock footer %}
</main>

{% block scripts %}
    <!--   Core JS Files   -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/plugins/moment.min.js')) }} 
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.js') }}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}"></script>
    <!--	Plugin for Sharrre btn -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.sharrre.js') }}"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/material-kit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.sharrre.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
{% endblock %}
</body>
</html>


<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-google-plus"></i>
                            <div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="">
                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    </form>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>