{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}
    
{% block body %}
<body class="profile-page sidebar-collapse">
{% endblock %}

{% block title %}Edit Post{% endblock %}

{% block initial %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='img/profile_city.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">Edit Post</h1>
            </div>
        </div>
    </div>
</div>
{% endblock initial %}

{% block content %}
        <form method="POST"}}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.category.label }}
                {% if form.category.errors %}
                    {% for e in form.category.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.category(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.body.label }}
                {% if form.body.errors %}
                    {% for e in form.body.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="editormd" class="form-control">
                {{ form.body(style="display:none;") }}
            </div>
            
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });
    </script>
{% endblock %}