{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block body %}
<body class="profile-page sidebar-collapse">
{% endblock %}

{% block title %}Manage Links{% endblock %}


{% block initial %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='img/profile_city.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">Links
                    <small class="text-muted">{{ links|length }}</small>
                </h1>
                <br>
                <a href="{{ url_for('.new_link') }}" class="btn btn-primary btn-raised btn-lg">
                    <i class="fas fa-book-reader"></i> New Link
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock initial %}

{% block content %}
    {% if links %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for link in links %}
                </tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ link.name }}</td>
                    <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ url_for('.edit_link', link_id=link.id) }}">Edit</a>
                        <form class="inline" method="post" action="{{ url_for('.delete_link', link_id=link.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure?');">Delete 
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="tip"><h5>No links.</h5></div>
    {% endif %}
{% endblock %}