{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block body %}
<body class="profile-page sidebar-collapse">
{% endblock %}

{% block title %}New Category{% endblock %}

{% block initial %}{% endblock %}

{% block initial %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='img/profile_city.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">New Category</h1>
            </div>
        </div>
    </div>
</div>
{% endblock initial %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
